.nav {
    &__page {
        display: flex;
        justify-content: flex-end;
        height: 75px;
        margin-top: 15px;
        background-color: rgba($color: black, $alpha: 0.4);
        display: flex;
        align-items: center;
        @include smallMobile-only {
            display: none;
        }
        @include mobile-only {
            display: none;
        }
    }
    &__ul {
        list-style-type: none;
        display: flex;
        padding-right: 20px;
        @include smallMobile-only {
            display: none;
        }
        @include mobile-only {
            display: none;
        }
        & > li {
            color: white;
            font-size: 1.3em;
            margin-right: 35px;
            position: relative;
            &:hover {
                cursor: pointer;
            }
        }
    }
    &__bars {
        display: none;
        height: 40px;
        @include smallMobile-only {
            display: block;
            margin-top: 35px;
            margin-right: 35px;
            cursor: pointer;
        }
        @include mobile-only {
            display: block;
            margin-top: 35px;
            margin-right: 35px;
            cursor: pointer;
        }
        @include allMobile-only {
            display: block;
            margin-top: 35px;
            margin-right: 35px;
            cursor: pointer;
        }
    }
    &__up {
        height: 18px;
        margin-left: 70px;
        margin-bottom: 10px;
    }
    &__home--active {
        &::after {
            position: absolute;
            content: "";
            height: 3px;
            width: 100%;
            background-color: white;
            left: 0;
            bottom: -25px;
            animation: appear 0.150s linear;
        }
    }                   
}
@keyframes appear {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes mobileNav {
    from {
        margin-top: -200px;
    }
    to {
        margin-top: 0px;
    }
}

.mobileNav {
    display: none;
        &--active {
            display: block;
            animation: mobileNav 0.200s linear;
            animation-fill-mode: forwards;
            background-color: rgba($color: black, $alpha: 1);
            width: 450px;
            display: flex;
            justify-content: center;
            & li {
                list-style-type: none;
                color: white;
                padding: 15px;
                font-size: 1.2em;
            }
        }
}